body {
  text-align: center;
  background-color: #ececec;
  margin: 10px;
  font-size: 1.3rem;
}
i {
  color: green;
}

.divTask {
  margin-left: 20%;
  margin-right: 20%;
  border: 1px solid black;
  margin-block: 30px;
  border-radius: 18px;
  padding-bottom: 22px;
  background-color: white;
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
}

form button {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #333333;
  background-color: #ffffff00;
}

#inputTask {
  border-radius: 13px;
  font-size: 0.7em;
  padding: 10px;
  width: 20%;
}
